<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Casino Craps Simulator</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
	<link rel="stylesheet" href="main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
	<script src="main.js"></script>
<body ng-controller="diceController">
	<div class="container overall-container">
		<div class="row">
			<div class="col-xs-2 square placeT"><h2>{{point}}</h2></div>
			<div class="col-xs-1 square placeT"></div>
			<div class="col-xs-8 square placeT">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2 square placeT"></div>
						<div class="col-xs-2 square placeT"></div>
						<div class="col-xs-2 square placeT"></div>
						<div class="col-xs-2 square placeT"></div>
						<div class="col-xs-2 square placeT"></div>
						<div class="col-xs-2 square placeT"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 square placeT"></div>
		</div>
		<div class="row">
			<div class="col-xs-2 square placeB">6&8</div>
			<div id="dc" class="col-xs-1 square placeB" ng-class="invalid"></div>
			<div class="col-xs-8 square placeB">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
					</div>
					<div class="row">
						<div id="Pfour" class="col-xs-2 square placeT" ng-class="invalid"><h4>{{comeNumber}}</h4></div>
						<div id="Pfive" class="col-xs-2 square placeT" ng-class="invalid"><h4>{{comeNumber}}</h4></div>
						<div id="Psix" class="col-xs-2 square placeT" ng-class="invalid"><h4>{{comeNumber}}</h4></div>
						<div id="Peight" class="col-xs-2 square placeT" ng-class="invalid"><h4>{{comeNumber}}</h4></div>
						<div id="Pnine" class="col-xs-2 square placeT" ng-class="invalid"><h4>{{comeNumber}}</h4></div>
						<div id="Pten" class="col-xs-2 square placeT" ng-class="invalid"><h4>{{comeNumber}}</h4></div>
					</div>
					<div class="row">
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
						<div class="col-xs-2 square placeA" ng-class="invalid"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 square placeB"></div>
		</div>
		<div class="row">
			<div class="col-xs-2 square allB">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2 square placeD" ng-disabled="comeout" ng-class="invalid"></div>
						<button id="passv" class="col-xs-4 square placeD" ng-disabled="pointSet" ng-click="passLine()" ng-class="valid"></button>
						<div class="col-xs-2 square placeD" ng-disabled="comeout" ng-class="invalid"></div>
						<button id="dpv" class="col-xs-4 square placeD" ng-disabled="pointSet" ng-click="dontPass()" ng-class="valid"></button>
					</div>
				</div>
			</div>
			<div class="col-xs-6 square allB">
				<div class="container-fluid">
					<div class="row">
						<button id="co" class="col-xs-12 square placeM" ng-disabled="comeout" ng-click="comeBet()" ng-class="invalid">
						<div class="circle" ng-show="pointSet">{{comeAmount}}</div></button>
					</div>
					<div class="row">
						<div id="Fie" class="col-xs-12 square placeM valid" ng-click="field()">
						<div class="circle">{{fieldAmount}}</div></div>
					</div>
					<div class="row">
						<button id="dph" class="col-xs-12 square placeF" ng-click="dontPass()" ng-disabled="pointSet" ng-class="valid">
							<div class="circle">{{dontPassAmount}}</div>
						</button>
					</div>
					<div class="row">
						<div class="col-xs-12 square placeG" ng-class="invalid" ng-disabled="comeout"></div>
					</div>
					<div class="row">
						<button id="passh" class="col-xs-12 square placeF" ng-click="passLine()" ng-disabled="pointSet" ng-class="valid">
						<div class="circle">{{passAmount}}</div></button>
					</div>
					<div class="row">
						<div class="col-xs-12 square placeG" ng-class="invalid"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-4 square allB">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1 square propsA"></div>
					</div>
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1 square propsA"></div>
					</div>
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1 square propsA"></div>
					</div>
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1 square propsA"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="roll-area container-fluid"> <!-- HUD -->
	<div class="row">
		<div class="ui money col-xs-4">
			<h3>Player Total: {{playerTotal | currency}}</h3>
			<h3>Total bet: {{playerBet | currency}}</h3>
			<h3>last Winings: {{winings | currency}}</h3>
		</div>
		<div class="ui dice col-xs-4">
			<h4>Dice A: {{die1}}</h4>
			<h4>Dice B: {{die2}}</h4>
			<h4>Dice Total: {{total}}</h4>
			<button class="roll btn btn-warning" ng-click="diceRoll()">Roll Dice</button>
		</div>
		<div class="ui other col-xs-4">
			<h3>last Action outcome</h3>
			<h4>{{outCome}}</h4>
		</div>
	</div> <!-- row -->
	</div> <!-- container -->
	
</body>
</html>