* {
	box-sizing: border-box;
}
h3 {
	margin: 0;
	margin-bottom: 20px;
}
button {
	list-style: none;
	background-color: #fff;
	border: none;
}
button:active {
	outline:0;
	background-image: none;
}
body {
	background-color: #27bddf;
}
.layout {
	width: 1075px;
	background-image: url('table-layout.jpg');
	background-repeat: no-repeat;
	border: 1px solid black;
	height: 650px;
	position: relative;
	margin:0 auto;
}
.square {
	border: 1px solid black;
	padding: 0;
}
/* -------------- boxes ------------------------------------*/
.box {
	position: absolute;
}
.circle {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #eca;
	float: right;
}
.invalid:hover {
	border: 5px solid rgba(255, 51,51, .6);
	/*border-color: rgba(255, 51,51, .6);*/
}
.valid:hover {
	border: 5px solid rgba(50,204,51, .7);
}
#pass-bottom {
	width: 710px;
	height: 40px;
	top: 572px;
	left: 70px;
}
#pass-top {
	width: 40px;
	height: 432px;
	top: 140px;
	left:70px;
}
#dont-pass-bottom {
	width: 655px;
	height: 40px;
	top: 518px;
	left: 122px;
	background-color:rgba(50,204,51, .7) ;
}
#dont-pass-top {
	width:38px;
	height: 433px;
	top: 86px;
	left: 123px;
	background-color:rgba(50,204,51, .7) ;
}
#field {
	width: 612px;
	height: 165px;
	top: 350px;
	left: 164px;
	background-color:rgba(50,204,51, .7) ;
}
#fieldInput {
	margin-top: 30px;
}
#come {
	width: 612px;
	height: 164px;
	top: 184px;
	left: 164px;
	background-color: rgba(255, 51,51, .6);
}
#dont-come {
	left: 164px;
	background-color: rgba(255, 51,51, .6);
}
.place {
	width: 122px;
	height: 137px;
	top: 44px;
	background-color: rgba(255, 51,51, .6);
}
#four {
	left: 288px;
}
#five {
	left: 412px;
}
#six {
	left: 535px;
}
#eight {
	left: 655px;
}
#nine {
	left: 778px;
}
#ten {
	left: 900px;
}
.roll-area {
	border:2px solid black;
	border-radius: 10px;
	overflow: hidden;
}
.ui {
	height: 150px;
	background-color: #A17211;
	border:3px solid #a41;
}

/* --------------- HUD -------------------------*/
/*.money {
	background-color: #a86;
}
.dice {
	background-color: #ebc;
}
.other {
	background-color: #9fe;
}*/




/* --------------- layout test -----------------*/
.overall-container {
	/*background-image: url('table-layout.jpg');*/
	background-size:100% auto;
	background-repeat: no-repeat;
	background-color: rgba(130,110,80,.8);
}

.placeT {
	height: 50px;
}
.placeB {
	height: 100px;
}
.placeA {
	height: 25px;
}
.allB {
	height: 400px;
}
.placeD {
	height: 300px;
}
.propsA {
	height: 60px;
}
.propsY {
	height: 25px;
	border: none;
}
.placeM {
	height: 150px;
}
.placeF {
	height: 30px;
}
.placeG {
	height: 20px;
}
.six-8 {
	height: 100px;
}
.blank {
	background: url(images/test.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
}
#dc {
	background: url(images/dontCome.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
}
#co {
	background: url(images/come.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#passv {
	background: url(images/passv.jpg);
	background-size: contain;
}
#Fie {
	background: url(images/field.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#dpv {
	background: url(images/dontpassv.jpg);
	background-size: cover;
	/*background-position:center;*/
	background-repeat:no-repeat;
	/*background-size: 100%;*/
}
#passh {
	background: url(images/pass.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#dph {
	background: url(images/dontPass.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Pfour {
	background: url(images/four.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Pfive {
	background: url(images/five.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Psix {
	background: url(images/six.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Peight {
	background: url(images/eight.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Pnine {
	background: url(images/nine.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Pten {
	background: url(images/ten.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#anySeven {
	background: url(images/seven.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Hfour {
	background: url(images/hard4.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Hten {
	background: url(images/hard10.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Hsix {
	background: url(images/hard6.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Height {
	background: url(images/hard8.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Zthree {
	background: url(images/three.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Yo {
	background: url(images/eleven.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Ztwo {
	background: url(images/two.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#Ztwelve {
	background: url(images/twelve.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
#anyCraps {
	background: url(images/craps.jpg);
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100%;
}





















