* {
	box-sizing: border-box;
}
h3 {
	margin: 0;
	margin-bottom: 20px;
}
.layout {
	width: 1075px;
	background-image: url('table-layout.jpg');
	background-repeat: no-repeat;
	border: 1px solid black;
	height: 650px;
	position: relative;
	margin:0 auto;
}
/* -------------- boxes ------------------------------------*/
.box {
	position: absolute;
}
.pass {
	background-color: rgba(0,250,0,.5);
	position: absolute;
}
#pass-bottom {
	width: 710px;
	height: 40px;
	top: 572px;
	left: 70px;
	background-color:rgba(50,204,51, .7) ;
}
#pass-top {
	width: 40px;
	height: 432px;
	top: 140px;
	left:70px;
	background-color:rgba(50,204,51, .7) ;
}
#dont-pass-bottom {
	width: 655px;
	height: 40px;
	top: 518px;
	left: 122px;
	background-color:rgba(50,204,51, .7) ;
}
#dont-pass-top {
	width:38px;
	height: 433px;
	top: 86px;
	left: 123px;
	background-color:rgba(50,204,51, .7) ;
}
#field {
	width: 612px;
	height: 165px;
	top: 350px;
	left: 164px;
	background-color:rgba(50,204,51, .7) ;
}
#come {
	width: 612px;
	height: 164px;
	top: 184px;
	left: 164px;
	background-color: rgba(255, 51,51, .6);
}
#dont-come {
	left: 164px;
	background-color: rgba(255, 51,51, .6);
}
.place {
	width: 122px;
	height: 137px;
	top: 44px;
	background-color: rgba(255, 51,51, .6);
}
#four {
	left: 288px;
}
#five {
	left: 412px;
}
#six {
	left: 535px;
}
#eight {
	left: 655px;
}
#nine {
	left: 778px;
}
#ten {
	left: 900px;
}





















.roll-area {
	border:1px solid black;
	background-color: teal;
}
.ui {
	height: 150px;
}
.money {
	background-color: #a86;
}
.dice {
	background-color: #ebc;
}
.other {
	background-color: #9fe;
}
