<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Casino Craps Simulator</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
	<link rel="stylesheet" href="main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
	<script src="main.js"></script>
<body ng-controller="diceController">
	<h2 class="text-center">Craps game</h2>
	
	<div class="layout">
		<div id="pass-top" class="pass box valid">
			<div class="circle pass-bet" ng-click="passLine()">BET</div><input type="text" ng-show="passInput" ng-model="passAmount">
		</div>
		<div id="pass-bottom" class="pass box valid" ng-click="passLine()"></div>
		<div id="dont-pass-bottom" class="box valid" ng-click="dontPass()"></div>
		<div id="dont-pass-top" class="box valid" ng-click="dontPass()"></div>
		<div id="field" class="box valid">
			<input id="fieldInput" type="text" placeholder="set bet amount" ng-show="fieldInput" ng-model="fieldAmount">
			<div class="circle field-bet" ng-click="field()">Bet</div>
		</div>
		<div id="come" class="box invalid"></div>
		<div id="dont-come" class="box invalid place"></div>
		<div id="four"  class="box invalid place"></div>
		<div id="five" class="box invalid place"></div>
		<div id="six" class="box invalid place"></div>
		<div id="eight" class="box invalid place"></div>
		<div id="nine" class="box invalid place"></div>
		<div id="ten" class="box invalid place"></div>
		<div id="any-seven" class="box valid" ng-click="seven()"></div>
		<div id="hard-4" class="box invalid"></div>
		<div id="hard-6" class="box invalid"></div>
		<div id="hard-8" class="box invalid"></div>
		<div id="hard-10" class="box invalid"></div>
		<div id="three" class="box valid" ng-click="anyThree()"></div>
		<div id="eleven" class="box valid" ng-click="anyYO()"></div>
		<div id="two" class="box valid" ng-click="two()"></div>
		<div id="twelve" class="box valid" ng-click="twelve()"></div>
		<div id="craps" class="box valid" ng-click="anyCraps()"></div>

	</div>
	<div class="roll-area container-fluid">
	<div class="row">
		<div class="ui money col-xs-4">
			<h3>Player Total: {{playerTotal | currency}}</h3>
			<h3>Total bet: {{playerBet | currency}}</h3>
			<h3>last Winings: {{winings | currency}}</h3>
		</div>
		<div class="ui dice col-xs-4">
			<h4>Dice A: {{die1}}</h4>
			<h4>Dice B: {{die2}}</h4>
			<h4>Dice Total: {{total}}</h4>
			<button class="roll btn btn-warning" ng-click="diceRoll()">Roll Dice</button>
		</div>
		<div class="ui other col-xs-4">
			<h3>other stats</h3>
			<h4>{{outCome}}</h4>
		</div>
	</div> <!-- row -->
	</div> <!-- container -->
</body>
</html>